body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Reddit Sans", sans-serif;
    background-color: rgb(225, 225, 225);
}
nav{
    width: 99%;
    height: 60px;
    background-color: #0F1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
nav > #logo{
    display: flex;
}
nav > #logo img{
    width: 110px;
    height: 60px;
    padding-top: 5px;
}
#logo p{
    margin-left: -10px;
    margin-top: 22px;
    color: white;
    font-size: 15px;
}
/* #logo:hover{
    border: 1px solid white;
} */
#para{
    color: white;
    font-size: 15px;
}
#para #first{
    font-size: 13px;
    font-weight: 300;
    margin-top: 0px;
}
#para #location{
    display: flex;
    font-size: 16px;
    font-weight: 600;
    gap: 5px;
    margin-top: -15px;
    margin-left: -19px;
}
#btn select{
    height: 40px;
    width: 50px;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
}
#btn select option{
    font-size: 15px;
}
#btn select:hover{
    background-color: rgb(220, 219, 219);
}
#btn #btn2{
    height: 40px;
    width: 650px;
    margin-left: -7px;
    border-radius: 3px;
    border: none;
    border-left: 1px solid gray;
    padding-right: 33rem;
    color: rgb(102, 101, 101);
    font-size: 13px;
    margin-top: 6px;
    font-weight: 525;
}
#btn #btn3{
    height: 40px;
    width: 45px;
    background-color: rgb(233, 185, 96);
    border: none;
    border-radius: 2px;
    margin-left: -15px;
    margin-bottom: 10px;
}
#lang{
    color: white;
    display: flex;
    gap: 5px;
    margin-top: 10px;
    margin-left: -20px;
    position: relative;
}
#lang #img1{
    width: 22px;
    height: 15px;
}
#lang #right{
    margin-top: -2px;
}
#lang span{
    font-size: 15px;
    font-weight: 600;
}
#lang span > ul{
    display: none;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
    color: black;
}
#lang span > ul > li{
    margin-left: -40px;
}
#lang span > ul > li > input{
    margin-top: 10px;
}
#lang span ul p{
    margin-left: 60px;
}
#lang span ul hr{
    margin-left: -20px;
    width: 100%;
}
#lang span ul img{
    width: 20px;
    height: 12px;
    margin-left: 10px;
    margin-top: 10px;
}
#lang span ul span{
    color: black;
    font-size: 11px;
    font-weight: 400;
}
#lang span ul #p1{
    margin-top: 20px;
    margin-left: 20px;
}
#lang span:hover > ul{
    display: block;
    position: absolute;
    top: 8px;
    left: 18px;
    width: 250%;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
}
#lang #img2{
    margin-left: 3px;
    width: 9px;
    height: 9px;
}
#hello{
    color: white;
    margin-left: -20px;
    margin-top: -5px;
}
#hello #p1{
    font-size: 13px;
    font-weight: 500;
    padding-top: 10px;
}
#hello #down{
    display: flex;
    align-items: center;
    margin-top: -30px;
    gap: 3px;
}
#hello #down p{
    font-weight: 700;
}
#hello #down img{
    width: 9px;
    height: 9px;
}
#return{
    color: white;
    margin-top: 6px;
    margin-left: -20px;
}
#return #p1{
    font-size: 13px;
}
#return #down{
    margin-top: -20px;
    font-weight: 700;
}
#cart{
    color: white;
    margin-left: -20px;
}
#cart span{
    font-weight: 800;
    padding-left: 3px;
}
/* --------------------------- */
header{
    display: flex;
    background-color: #232f2f;
    height: 39px;
    color: white;
    align-items: center;
    width: 99%;
}
#left{
    margin-left: 20px;
}
#left span{
    padding-left: 5px;
    font-weight: 700;
}
#right{
    margin-top: -5px;
}
#right ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 15px;
    font-size: 15px;
    margin-left: -20px;
}
#right ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#right ul > li:nth-child(12) img{
    width: 9px;
    height: 9px;
}
#right ul #lii{
    margin-bottom: 10px;
}
/* --------------------------------- */
#section1 img{
    width: 1512px;
    height: 600px;
}
#section1 #cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 22rem;
}
#section1 #cards #div1{
    width: 350px;
    height: 420px;
    background-color: white;
    border-radius: 3px;
}
#section1 #cards #div1 img{
    width: 100px;
    height: 110.95px;
}
#div1 .head{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 22px;
}
#div1 .p1{
    color: rgb(75, 188, 226);
    margin-top: -0px;
    padding-left: 15px;
}
#div1 #upper{
    display: flex;
    gap: 20px;
    margin-left: 15px;
}
#div1 #down{
    display: flex;
    gap: 20px;
    margin-left: 15px;
}
#div1 p{
    font-size: 14px;
}
#section1 #cards #div2{
    width: 350px;
    height: 420px;
    background-color: white;
    border-radius: 3px;
}
#div2 .head{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 22px;
}
#div2 img{
    width: 320px;
    height: 304px;
    padding-left: 13px;
}
#div2 .p1{
    color: rgb(75, 188, 226);
    margin-top: -0px;
    padding-left: 15px;
    font-size: 14px;
}
#section1 #cards #div3{
    width: 350px;
    height: 420px;
    background-color: white;
    border-radius: 3px;
}
#div3 img{
    width: 150px;
    height: 104px;
}
#div3 #upper{
    display: flex;
    gap: 20px;
    margin-left: 15px;
}
#div3 #down{
    display: flex;
    gap: 20px;
    margin-left: 15px;
}
#div3 p{
    margin-top: -0px;
}
#div3 h2{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 22px;
}
#div3 .p1{
    color: rgb(75, 188, 226);
    margin-top: -0px;
    padding-left: 15px;
}
#section1 #cards #div4{
    width: 350px;
    height: 420px;
    margin-top: -20px;
}
#div4 #top{
    width: 350px;
    height: 140px;
    background-color: white;
    border-radius: 3px;
}
#div4 #top #left h2{
    padding-top: 10px;
    font-size: 22px;
}
#div4 #top #left p{
    color: rgb(75, 188, 226);
}
#div4 #right img{
    width: 103px;
    height: 103px;
    position: absolute;
    left: 86.5rem;
    bottom: 19rem;
}
#div4 #down{
    width: 350px;
    height: 250;
    margin-left: 28px;
    margin-top: 17px;
}
#div4 #down #narrow{
    width: 294px;
    background-color: white;
}
#narrow video{
    width: 294px;
    height: 167px;
}
#narrow #bottom{
    display: flex;
    justify-content: space-evenly;
}
#bottom img{
    height: 70px;
    width: 70px;
}
#narrow #para{
    color: black;
}
#para #p1{
    font-size: 14px;
}
#para del{
    font-size: 10px;
    padding-left: 11px;
}
#para #p2{
    margin-top: -10px;
}
/* --------------------------- */
#section2{
    margin-top: 90px;
    color: white;
    display: flex;
    gap: 20px;
}
#section2 img{
    width: 730px;
    height: 420px;
    margin-left: -6px;
}
#section2 #left h2{
    position: absolute;
    top: 49rem;
    left: 2rem;
    background-color: rgba(0, 0, 0, 0.14);
}
#section2 #left #p1{
    position: absolute;
    top: 52rem;
    left: 2rem;
    background-color: rgba(0, 0, 0, 0.14);
}
#section2 #left #p2{
    position: absolute;
    top: 73rem;
    left: 2rem;
    background-color: rgba(0, 0, 0, 0.14);
}
#section2 #right{
    width: 350px;
    height: 420px;
    background-color: white;
    border-radius: 3px;
    color: black;
    border-radius: 3px;
}
#section2 #right #div1 img{
    width: 150px;
    height: 104px;
}
#right #div1 h2{
    padding-top: 20px;
}
#right #div2 img{
    width: 150px;
    height: 104px;
}
#div2 #upper{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div2 #down{
    display: flex;
    align-items: center;
    justify-content: center;
}
#right #div2{
    width: 350px;
    height: 420px;
    background-color: white;
    border-radius: 3px;
    color: black;
    border-radius: 3px;
    margin-top: 60px;
    position: absolute;
    top: 45.9rem;
    left: 70.8rem;
}
#div2 h2{
    padding-top: 20px;
}
#right #div2 p{
    margin-top: -4px;
    margin-left: 10px;
}
#div2 .p1{
    padding-top: 0px;
}
/* ---------------------------- */
#footer1{
    width: 99%;
    height: 40px;
    background-color: #232f2E;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
}
#footer1 a{
    text-decoration: none;
    color: white;
}
#footer2{
    width: 99%;
    height: 350px;
    background-color: #0F1111;
    margin-top: -0px;
    display: flex;
    gap: 30px;
}
#footer2 h3{
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}
#footer2 #div1{
    position: absolute;
    left: 17rem;
}
#footer2 #div1 ul{
    margin-left: -40px;
}
#footer2 #div2{
    position: absolute;
    left: 33rem;
}
#footer2 #div2 ul{
    margin-left: -40px;
}
#footer2 #div3{
    position: absolute;
    left: 47rem;
}
#footer2 #div4{
    position: absolute;
    left: 67rem;
}
#footer2 ul,h3,li,a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    margin-top: 5px;
    font-size: 15px;
}
#footer2 ul li:hover{
    text-decoration: underline;
}
#hrr{
    margin-top: -10px;
}